name: Deploying stg Branch

on:
  push:
    branches:
      - Stg

jobs:
  build:
    runs-on: [self-hosted, certiqas-backend-vm]

    env:
      PM2_PROCESS_NAME: certiqas-backend-Stg
      NODE_VERSION: 22
      DEPLOY_PATH: /home/ubuntu/certiqas-backend-stg

    steps:
      - name: Checkout code
        uses: actions/checkout@v4
        with:
          path: certiqas-backend-stg
          clean: true

      - name: Setup Node.js
        uses: actions/setup-node@v3
        with:
          node-version: ${{ env.NODE_VERSION }}

      - name: Install dependencies
        working-directory: ${{ env.DEPLOY_PATH }}
        run: npm install --legacy-peer-deps

      - name: Start or Reload the Application
        working-directory: ${{ env.DEPLOY_PATH }}
        run: |
          if pm2 list | grep -q "$PM2_PROCESS_NAME"; then
            pm2 reload "$PM2_PROCESS_NAME"
          else
            pm2 start npm --name "$PM2_PROCESS_NAME" -- start
          fi
          pm2 save
